<form {{action 'createPost' on='submit'}} >
  {{input value=newPost.title placeholder='Title'}}
  {{textarea value=newPost.content placeholder='Content'}}
  <button type="submit">Publish</button>
</form>
