<legend>
<div class="comment"> > {{comment.text}}</div>
{{display-user user=comment.user}}
<div class="comment-buttons"> {{delete-comment comment=comment}}{{update-comment updateComment='updateComment' comment=comment}} </div>
</legend>
