@import 'bootstrap';
@import 'bootstrap/theme';

body {
  width: 60%;
  margin-left: 20%;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 18px;
}

.babaBlog-title {
  text-align: center;
}

.sign-in-to-post {
  text-align: center;
  color: #c0392b;

}

.submit {
  font-family: Lato, sans-serif;
  border: 1px solid #c0392b;
  text-decoration: none;
  border-radius: 18px;
  padding: 7px 32px;
  background: #fff;
  color: #c0392b;
}
.delete-button {
  font-family: Lato, sans-serif;
  border: 1px solid #c0392b;
  text-decoration: none;
  border-radius: 18px;
  padding: 3px 15px;
  background: #fff;
  color: #c0392b;
  font-size: 10px;
}

// .newPost {
//   border: 1px solid black;
//   border-radius: 5px;
//   padding: 30px;
//   margin: 40px;
// }

.submit:hover {
  border-color: #e74c3c;
  color: #fff;
  background-color: #e74c3c;
}

textarea:focus, input:focus, button:focus {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type=text], textarea {
  width: calc(100% - 5px);
  font-size: 0.75em;
  padding: 10px;
  line-height: 1.5;
  margin: 10px 0;
  max-width: calc(100% - 5px);
}
textarea {
  margin-top: 10px;
}
